.task-container{
    position: relative;
    max-width: 768px;
    margin: 0 auto;
    padding: 5px;
}
.task-item-container{
    overflow-y : scroll;
    height:calc(100vh - 80px)
}
.task-detail-button{
    cursor: pointer;
    color:#17a2b8;
}
.tasks-new{
    position: absolute;
    top:10px;
    left:5%;
    min-width: 260px;
    z-index: 10;
}
.tasks-top{
    position: absolute;
    min-width: 50px;
    bottom:50px;
    right:25px;
    z-index: 10;
}
.task-list-item{
    box-shadow: 0 1px rgba(187,194,220,.6);
    border-radius:4px;
    box-sizing: border-box;
    border:1px solid transparent;
    border-left:2px solid rgba(2,165,209,.29);
    background: #fff;
    padding:0 0.25rem;
    margin: 0.25rem 0;
  }

.task-nav{
    position: relative;
    width: 360px;
}

.tasks-filter-container{
    height:30px;
    line-height: 30px;
    position: relative;
    max-width: 768px;
    margin: 0 auto;
}
.tasks-filter-content{
    width: 320px;
    max-width: 100%;
    position: absolute;
    z-index: 1060;
    background: #fff;
    border: 1px solid #17a2b8;
    border-radius: 3px;
    height: 30%;
    animation-name: filter-show;
    animation-duration: 1s;
    animation-fill-mode: forwards
}
@keyframes filter-show{
    from{top:-30px}
    to{top:0 }
  }
@media screen and (min-width:768px){
    .tasks-filter-content{
        left:calc((100vw - 768px)/2);
        margin-left: 0.5rem;
        margin-top: 5px
    }
}
.filter-modal-container{
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1025;
    overflow: scroll;
    animation-name: wrap-show;
    animation-duration: 1s;
    animation-fill-mode: forwards
  }
.filter-button{
    cursor: pointer;
    color:#17a2b8;
}
.filter-button:hover{
    background-color: #17a2b8;
    color:white;
    border-radius: 3px
}