.modal-container{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1045;
  overflow: scroll;
  animation-name: wrap-show;
  animation-duration: 1s;
  animation-fill-mode: forwards
}
@keyframes wrap-show{
  from{background:none}
  to{background-color: rgba(0,0,0,0.5);}
}
.post-content{
  position: relative;
  max-width: 500px;
  margin:70px auto;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  border-radius: 5px;    
}  
@media screen and (max-width:576px){
  .post-content{
    margin:50px;
    position: relative;
    width: 100%;
    box-shadow: rgba(37, 33, 33, 0.5) 0px 0px 10px;
    border-radius: 5px;    
}
}
.confirm-container{
    position: absolute;
      left: 50%;
      top: 50%;
      right: auto;
      bottom: auto;
      padding:30px 0;
      transform: translate(-50%, -50%);
      max-width: 400px;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
      border-radius: 5px;
      animation-name: wrap-content-show;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      z-index: 1030;
  }
.alert-container{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1035;
    animation-name: wrap-show;
    animation-duration: 1s;
    animation-fill-mode: forwards
  }
.alert-content{
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto; 
    transform: translate(-50%, -50%);
    width: 100%;
    border-radius: 5px;
    animation-name: wrap-content-show;
    animation-duration: 1s;
    animation-fill-mode: forwards
  }
  @keyframes wrap-content-show{
    from{top: 0}
    to{top:50%}
  }