.response-container{
    position: absolute;
      left: 50%;
      top: 50%;
      right: auto;
      bottom: auto;
      transform: translate(-50%, -50%);
      min-height: 100%;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 10px;
      border-radius: 5px;
      animation-name: wrap-show;
      animation-duration: 1s;
      animation-fill-mode: forwards;
  }
  .response-content{
      position: absolute;
      left: 50%;
      top: 50%;
      right: auto;
      bottom: auto;
      transform: translate(-50%, -50%);
      z-index:1100;
      min-width: 60%;
      max-width: 80%;
      max-height: 60%;
      min-height: 40%;
      border-radius: 5px;
  }
  .confirm-container{
    position: absolute;
      left: 50%;
      top: 50%;
      right: auto;
      bottom: auto;
      padding:30px 0;
      transform: translate(-50%, -50%);
      max-width: 400px;
      min-height: 150px;
      max-height: 90%;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
      border-radius: 5px;
      animation-name: wrap-content-show;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      z-index: 1050;
  }
  .alert-container{
      position: absolute;
      left: 50%;
      top: 50%;
      right: auto;
      bottom: auto;
      padding:30px 0;
      transform: translate(-50%, -50%);
      max-width: 400px;
      min-height: 150px;
      /* max-height: 90%; */
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
      border-radius: 5px;
      animation-name: wrap-show;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      z-index: 1060;
  }
  .alert-content{
    position: absolute;
    left: 50%;
    top: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);
    min-width: 60%;
    /* max-width: 80%; */
    /* max-height: 60%; */
    min-height: 50%;
    border-radius: 5px;
  }

  .modal-container{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1035;
    overflow: scroll;
    animation-name: wrap-show;
    animation-duration: 1s;
    animation-fill-mode: forwards
  }