.header-container{
    max-width: 768px;
    width:80%;
    margin: 0 auto;
}
@media screen and (max-width:767.99px){
    .header-container{
        width:100%
    }
}
.app-header{
    transition: .4s 0ms;
    left: 0;
    position: fixed;
    top: 0;
    white-space: nowrap;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.1);
    height:60px;
  }

.app-content{
    max-width: 768px;
    width:80%;
    margin: 4rem auto 0;
}
@media screen and (max-width:767.99px){
    .app-content{
        width:95%;
        margin: 4rem auto 0
    }
}
.tasks-container{
    position: relative;
    height: calc(100vh - 4rem);
    margin: 0 auto;
    overflow: hidden;
}
.modal-container{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1035;
    overflow: scroll;
    animation-name: wrap-show;
    animation-duration: 1s;
    animation-fill-mode: forwards
  }
  .post-content{
    position: relative;
    max-width: 500px;
    margin:70px auto;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
    border-radius: 5px;
}